@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-50: #f3eef8;
  --color-brand-100: #e4d6f0;
  --color-brand-400: #9b7bbf;
  --color-brand-500: #734b9d;
  --color-brand-600: #634191;
  --color-brand-700: #5a3a7d;
  --color-brand-900: #2e1d40;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}
